# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Django
*.log
staticfiles/
media/

# Environment variables and secrets
.env
.env.*
!.env.example

# Database files
*.sqlite3

# IDE
.idea/
.vscode/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store